%h1.mb-3 プロジェクト一覧

%table.table.table-hover
  %tbody
    - @projects.each do |project|
      - if project.stopped?
        %tr.table-dark
          %td= project.name
          %td
            = link_to '編集', edit_project_path(project), class: 'btn btn-outline-secondary btn-sm'
            = link_to '再開', project_stop_path(project.id), method: :delete, class: 'btn btn-outline-warning btn-sm'
            = link_to '削除', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'
      - else
        %tr
          %td= project.name
          %td
            = link_to '編集', edit_project_path(project), class: 'btn btn-outline-secondary btn-sm'
            = link_to '停止', project_stop_path(project.id), method: :patch, class: 'btn btn-outline-warning btn-sm'
            = link_to '削除', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'

= link_to '新規作成', new_project_path, class: 'btn btn-outline-secondary'
